{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col-md-6">
            <form class="input-group" action="{% url 'post_busca' %}">
                <input type="search" class="form-control" name="termo" placeholder="Digite a sua pesquisa" >
                <span class="form-group input-group-btn">
                    <button class="btn btn-default" onclick="{% url 'post_busca' %}" type="submit">Pesquisar</button>
                </span>
            </form>
        </div>
    </div>
    <br>
    <div class="row" margin-left="15px">
        <div class="col-md-6">
            <div class="panel-head">
                <p><strong>{{ object_list.count }}</strong> de <strong>{{ paginator.count }}</strong> itens </p>
            </div>
        </div>
    </div>

    {% for post in object_list %}
    <div class="row">

        <div class="col-md-3 ">
            <div class="panel-body"  >
            {% if post.imagem_post %}
                <a href="{% url 'post_detail' post.id %}"><img src="{{ post.imagem_post.url }}" class="img-responsive " width="100%" alt=""></a>
            {% else %}
                <a href="{% url 'post_detail' post.id %}"><img src="{% static 'images/logorb.png' %}" class="img-responsive " width="100%" alt=""></a>
            {% endif %}
             </div>
        </div>
        <div class="col-md-9">
            <div class="panel-heading">
                <h2>{{ post.title }}</h2>
            </div>
            <div class="panel-body">
                <p>{{ post.excerpt }}.</p>
                <p>Categoria: {{ post.get_category_name }}.</p>
                <small>{{ post.data_post }}</small><br>
                <a href={% url 'post_detail' post.id %}><buton  type="button" class="btn btn-sm btn-info">Ver Mais</buton></a>
            </div>
        </div>

    </div>
    <hr>
    {% empty %}
        <p>Não há dados</p>
    {% endfor %}

{% endblock %}
{% block paginacao %}
{% include 'parciais/_pagination.html' %}
{% endblock %}